<nav class="navbar-container nav">
  <ul class="navbar-menu navbar-end">
    <li class="navbar-item"><a href="/">Home</a></li>
    <li class="navbar-item"><a href="/venues">Explore</a></li>
    <li class="navbar-item"><a href="/new">Add a Venue</a></li>
    <li class="navbar-item"><a href="/about">About</a></li>
    <% if (locals.isLoggedIn) { %>
      <li class="navbar-item"><a href="/logout">Log Out, <%= locals.currentUser.username %></a></li>
    <% } else { %>
    <li class="navbar-item"><a href="/register">Register</a></li>
    <li class="navbar-item"><a href="/login">Login</a></li>
    <% } %>

  </ul>
</nav>
