<h2 class="title is-2 shreddit-title-small">About ShreddIt</h2>

<p>This app was created as a second project in General Assembly's Web Development Immersive course.</p>
<p>If you're interested, you can see my GitHub profile <a href="https://github.com/TessKi/wdi-project-2"> here.</a></p>
