<main class="home-container">
  <h1 class="title is-1 shreddit-title">ShreddIt</h1>
  <h2 class="subtitle">Browse and review independent music venues in London</h2>

  <% if (locals.isLoggedIn) { %>
    <h4>Welcome back, <%= locals.currentUser.username %></h4>

    <% } %>


  <% if (!locals.isLoggedIn) { %>
    <p class="paragraph">or</p>
    <div class="field is-grouped">
      <div class="button"><a href="/register">Register</a></div>
      <div class="button"><a href="/login">Log In</a></div>
    </div>
  <% } %>
</main>
