<h1>Welcome to ShreddIt</h1>

<h3>Browse and review venues:</h3>

<div class="container">

</div>

or

<div class=""><a href="/register">Register</a></div>
<div class=""><a href="/login">Log In</a></div>
