<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShreddIt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include ./partials/header %>

    <section class="container">
      <%- body %>
    </section>

    <% include ./partials/footer %>
  </body>
</html>
