<h1 class="title is-1 shreddit-title">ShreddIt</h1>
<h2 class="subtitle">Explore Our Venues</h2>

<div class="venues-container columns" >
  <% venues.forEach(venue => {  %>
  <div class="venue-box column is-one-third">
    <div class="img-box"><img src="<%= venue.image %>" alt="<%= venue.name %>" width="350px"></div>
    <a href="/venues/<%= venue.id %>" class="link"><%= venue.name %></a>


  </div>
  <% }) %>
</div>
