<h1>Index</h1>

<div class="venues-container" >
  <% venues.forEach(venue => {  %>
  <div class="venue-box">
    <h3><a href="/venues/<%= venue.id %>"><%= venue.name %></a></h3>

    <div class=""><img src="<%= venue.image %>" alt="<%= venue.name %>" width="350px"></div>

  </div>
  <% }) %>
</div>
