<main class="columns is-centered is-multiline">

  <h3 class="title is-4">Add a Venue</h3>

  <form class="columns is-centered is-multiline" action="/venues" method="post">

    <div class="field is-horizontal column is-12">
      <label class="field-label" for="name">Name</label>
      <div class="control field-body">
        <input type="text" name="name" value="">
      </div>
    </div>

    <div class="field is-horizontal column is-12">
      <label class="field-label" for="address">Address</label>
      <div class="control field-body">
        <input type="text" name="address" value="">
      </div>
    </div>

    <div class="field is-horizontal column is-12">
      <label class="field-label" for="image">Image URL</label>
      <div class="control field-body">
        <input type="text" name="image" value="">
      </div>
    </div>

    <div class="field is-horizontal column is-12">
      <label class="field-label" for="website">Website URL</label>
      <div class="control field-body">
        <input type="text" name="website" value="">
      </div>
    </div>

    <div class="field is-horizontal column is-12">
      <label class="field-label" for="capacity">Capacity</label>
      <div class="control field-body">
        <input type="text" name="capacity">
      </div>
    </div>

    <div class="field is-horizontal column is-12">
      <label class="field-label" for="closestTube">Closest Tube Station</label>
      <div class="control field-body">
        <input type="text" name="closestTube" value="">
      </div>
    </div>

    <div class="field is-horizontal column is-12">
      <label class="field-label" for="description">Description</label>
      <div class="control field-body">
        <input type="text" name="description" value="">
      </div>
    </div>

    <button>Submit</button>
  </form>
</main>
